<div class="container">
  <div class="mnuDesplegable">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateTo('home')">Home</button>
      <button mat-menu-item href="https://drive.google.com/file/d/1_EHsi6sKOsecYc6Ef8iaLafyCchoekoR/view" (click)="navigateTo('carta')">Carta</button>
      <button mat-menu-item (click)="navigateTo('pedidosYa')">PedidosYa</button>
      <button mat-menu-item (click)="navigateTo('whatsapp')">WhatsApp</button>
    </mat-menu>

  </div>
  <div class="title">
    <h1>Resto la casita Don Aldo</h1>
  </div>

  <div class="btnReserva">
    <button class="width 60px">Hace tu reserva acá!</button>
  </div>

</div>
