<div class="container">
  <div class="mnuDesplegable">
    <div class="btnmenu" (click)="toggleNav()">
      <mat-icon>menu</mat-icon> 
    </div>
    
  </div>

  <div class="title"> 
    
  </div>
  
  <div class="btnReserva">
    <button class="width 60px">Hace tu reserva acá!</button>
  </div>
  
</div>

<div class="sidenav" [class.open]="isNavOpen">
  <ul class="info">
    <li><a href="https://drive.google.com/file/d/1_EHsi6sKOsecYc6Ef8iaLafyCchoekoR/view" target="_blank" (click)="closeNav()">Carta</a></li>
    <li><a href="https://www.pedidosya.com.ar/restaurantes/mendoza/la-casita-de-don-aldo-648dc0a6-b8ce-411b-b935-446ebe3b5b21-menu" target="_blank" (click)="closeNav()">PedidosYa</a></li>
    <li><a href="https://wa.me/2614545127?text=Hola,%20quiero%20hacer%20un%20pedido" target="_blank">WhatsApp</a></li>

    <li><a href="#" (click)="closeNav()">Cerrar</a></li>
  </ul>
</div>


