.container {
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 0 20px; /* Agrega un espacio interior horizontal */
    margin: 0;
  }
  
  .title {

    color: white;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 30px;
    
  }
  
  .mat-menu-panel {
    
    width: 300px; /* Ancho del menú desplegable */
    margin-left: auto; /* Centra el menú desplegable horizontalmente */
    background-color: black; /* Cambia el color de fondo del menú desplegable */
  }
  
  .btnReserva {

    display: flex;
    padding: 30px;

    height: 38px;
    
    
  }
  
  .mnuDesplegable button {
    background-color: transparent;
    color: white;
    border: none; 
    cursor: pointer; 

    font-size: 20px; /* Tamaño del texto del botón */

    width: 100px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
  }

  .mnuDesplegable button mat-icon {
    
    font-size: 24px;

  }

