.container {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.title {

  color: whitesmoke;
  display: flex;
  align-items: center;
  margin: 0;
}

.btnmenu {

  display: flex;
  justify-content: center;


  color:white;
  cursor: pointer;

}

.btnReserva button {
  background: transparent;
  color: #fff;
  border: none;
  position: relative;
  height: 50px;
  font-size: 1.2em;
  padding: 0 2em;
  cursor: pointer;
  transition: 0.8s ease all;
  outline: none;
}

.btnReserva button:hover {
  background: whitesmoke;
  color: black;
}

.btnReserva button:before,
.btnReserva button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background-color: azure;
  transition: 0.4s ease all;
}

.btnReserva button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btnReserva button:hover:before,
.btnReserva button:hover:after {
  width: 100%;
  transition: 0.8s ease all;
}

.sidenav {
  position: fixed;
  top: 0;
  left: -250px; /* Inicialmente oculto fuera de la pantalla */
  width: 250px;
  height: 100%;
  background-color: black;
  transition: left 0.5s ease; /* Transición suave al abrir/cerrar */
  text-decoration: none;

  
}

.sidenav .info {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 

}

.sidenav .info li {
  padding-top: 30px;
  margin-bottom: 15px; 
}


.sidenav .info li a {

  justify-content: center;
  text-decoration: none; 
  color: whitesmoke; 
  font-size: 25px; 

  
}


.sidenav.open {
  left: 0; 
}


