<div class="container">

    <div class="left">
        <ul>Redes Sociales</ul>
        <hr class="decoracion"> 
        <div class="redes">
        <a  href="https://www.facebook.com/RestoLaCasita" target="_blank" >Facebook</a>
        <a  href="https://www.instagram.com/donaldo.lacasita/" target="_blank" >Instagram</a>
        <a  href="https://www.pedidosya.com.ar/restaurantes/mendoza/la-casita-de-don-aldo-648dc0a6-b8ce-411b-b935-446ebe3b5b21-menu" target="_blank">PedidosYa</a>
    </div>
    </div>

    <div class="mid">
        <ul>Atención</ul>
        <hr class="decoracion"> 
        <p class="p">Abierto todos los dias.
        </p>
        <p class="p">
            Delivery 4125452 - 4309411.
        </p>
        <p class="p">
            WhatsApp - 2614545127
        </p>
        <div class="mediosdepago">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="footer-payship-img card-img ls-is-cached lazyloaded" alt="ar_tarjeta-naranja" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="footer-payship-img card-img ls-is-cached lazyloaded" alt="mercadopago" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="footer-payship-img card-img ls-is-cached lazyloaded" alt="mastercard" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="footer-payship-img card-img ls-is-cached lazyloaded" alt="visa" width="40" height="25">
        </div>
    </div>
    
    <div class="right">
        <ul>Horarios</ul>
        <hr class="decoracion"> 
        <div class="p">
            <p>Lunes a Sábados.
               
            </p>
            <p>
                Abre 11:00 a.m - Cierra 00:00 p.m.
            </p>
            
            <p>
                Domingos.
            </p>
            <p>
                Abre 11:00 a.m - Cierra 17:00 p.m.
            </p>
    </div>
    </div>
    
    <div class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6292.81798895016!2d-68.84329334472203!3d-32.87026580487871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e08e61b6b39ed%3A0xc474380c507382ef!2sLa%20Casita%20de%20Don%20Aldo!5e0!3m2!1ses-419!2sar!4v1714170992645!5m2!1ses-419!2sar" 
        width="430" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>

    <hr class="decoracion"> 

<div class="ref">
    <p>© Copyright - 2016 - 2024 www.restolacasitadonaldo, TODOS LOS DERECHOS RESERVADOS. Las fotos contenidas en este site, el logotipo y las marcas son propiedad de www.restolacasitadonaldo y/o de sus respectivos titulares. Está prohibida la reproducción total o parcial, sin la expresa autorización de la administradora de la tienda virtual. 
        Resto La casita Don Aldo, con domicilio en Av. MITRE 2688 Ciudad, M5500 Mendoza - Ciudad de Mendoza - Argentina.</p>
</div>
