<body>    
    <div class="container">
        <div class="left">
            <h1 class="descrip">
                
                Información de la comida.

            asdasd  <data value="asdasd"></data>

            asdf
            asdf
            asdf
            das
            sad
            adsf
            dfas
            dafs
            fdas
            dafs
            dafs
            d
                
           
               
               
            </h1>
        </div>
        <div class="right">
            
        </div>
    </div>
    
    </body>
